<div class="col-2 sidebar">
    <h5>Navigation</h5>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a href="{{ url_for('show_page', page='dashboard') }}">Dashboard</a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('show_page', page='chat') }}">Chat</a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('show_page', page='upload-candidates') }}">Upload Candidates</a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('show_page', page='upload-jobs') }}">Upload Jobs</a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('show_page', page='jobad-generator') }}">Jobad Generator</a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('show_page', page='candidate-comparison') }}">Candidate Comparison</a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('show_page', page='test-interpreter') }}">Test Interpreter</a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('show_page', page='interview-preparation') }}">Interview Preparation</a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('show_page', page='candidate-summary') }}">Candidate Summay</a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('show_page', page='email-templates') }}">Email Templates</a>
        </li>
    </ul>
</div>